In [2]:
import pandas as pd
import numpy as np

In [9]:
pd.options.display.float_format = '{:,.2f}'.format

### Problema 1
Vamos praticar gerar matrizes e fazer operações com as linhas e colunas:

(a) Crie uma matriz A com as dimensões (5, 4) e elementos aleatórios variando entre 0 e 50, com o 50 incluso;

__Dica:__ Utilize as funções `np.random.randint` e `np.reshape`

(b) Retorne a média do vetor

(c) Retorne os menores valores de cada coluna;

(d) Retorne os maiores valores de cada linha.

In [40]:
# A
A = np.random.randint(0, 51, 20)

array = np.reshape(A,[5,4])

df = pd.DataFrame(A.reshape(5,4))
# B
print (array.mean())

# C
print (df)
print (df.min(axis = 0))

# D
print (df.max(axis = 1))

23.1
    0   1   2   3
0  20  30  33  38
1  13  46  50  35
2   3   8   5  14
3   3   5   2  18
4  49  35  12  43
0     3
1     5
2     2
3    14
dtype: int32
0    38
1    50
2    14
3    18
4    49
dtype: int32

### Problema 2

Crie um objeto DataFrame que contenha os dados da tabela abaixo, os quais se referem ao peso, altura e idade de cinco pessoas:


| Peso (kg) | Altura (cm) | Idade (anos) |
|-----------|-------------|--------------|
|  47 | 161	| 31 |
|  80 | 170	| 21 |
|  60 | 175	| 16 |
|  90 | 162	| 28 |
| 100 | 185	| 23 |
| 147 | 189 | 32 |

Com base no DataFrame criado, realize o que for pedido nos itens abaixo:

(a) Visualize apenas os dados da coluna que contém a altura das pessoas;

(b) Obtenha a idade média das pessoas;

(c) Obtenha os dados das pessoas que estão abaixo da altura média;

(d) Crie um nova coluna no DataFrame que contenha o IMC (Índice de Massa Corporal) de cada pessoa;

__Obs.:__ A fórmula para o IMC é dada por IMC = Peso/(Altura)² com o peso em kg e a altura em metros.

(e) Remova a coluna que contém a idade das pessoas;

(f) Crie uma nova coluna chamada Classificação, que contenha a classificação de cada indivíduo, de acordo com o seu IMC. Para isso, consulte a tabela abaixo.

| IMC             | Classificação |
|-----------------|---------------|
Menor que 18,5    | Subpeso |
Entre 18,5 e 24,9 | Normal |
Entre 25,0 e 29,9 | Sobrepeso |
Entre 30,0 e 39,9 | Obesidade Grau I |
Maior que 40,0    | Obesidade Grau II |

(g) Salve esses dados do DataFrame em um arquivo csv.

In [87]:
dicio = {'Peso_kg':[47,80,60,90,100,147],'Altura_cm':[161,170,175,162,185,189],'Idade_anos':[31,21,16,28,23,32]}
df = pd.DataFrame(dicio)
print(df)
# A
print (df.Altura_cm)

# B
print (df.Idade_anos.mean())

# C
print (df[df["Altura_cm"] < df.Altura_cm.mean()])

# D
df['IMC'] = df.Peso_kg/((df.Altura_cm/100)**2)
df

# E
df.drop('Idade_anos', axis = 1, inplace = True)


# F
IMC =  {'IMC_min':[0,18.5,25,30,40],
        'IMC_max':[18.4,24.9,29.9,39.9,200],
        'Classificacao':['Subpeso','Normal','Sobrepeso','Obesidade_Grau_I','Obesidade_Grau_II']}
IMC = pd.DataFrame(IMC)
df.sort_values(['IMC'],axis = 0, ascending = True, inplace = True)
# df.merge(IMC, how = 'left', left_on = 'IMC', right_on = '')
df

   Peso_kg  Altura_cm  Idade_anos
0       47        161          31
1       80        170          21
2       60        175          16
3       90        162          28
4      100        185          23
5      147        189          32
0    161
1    170
2    175
3    162
4    185
5    189
Name: Altura_cm, dtype: int64
25.166666666666668
   Peso_kg  Altura_cm  Idade_anos
0       47        161          31
1       80        170          21
3       90        162          28

   Peso_kg  Altura_cm   IMC
0       47        161 18.13
2       60        175 19.59
1       80        170 27.68
4      100        185 29.22
3       90        162 34.29
5      147        189 41.15

### Problema 3

O arquivo avocado.xlsx consiste em um dataset que contém dados sobre vendas de abacates  em diversas regiões dos Estados Unidos. Essa dataset contém as seguintes colunas:

| Coluna | Descrição |
|--------|-----------|
| Date | data da observação |
| AveragePrice | preço médio de um único abacate |
| year | ano |
| region | cidade ou região da observação |
| Total Volume | volume total de abacates vendidos |

Além das informações acima, contidas no arquivo avocado.xlsx, o tipo do abacate (convencional ou orgânico) também seria uma informação importante para a sua análise. Suponhamos que você conseguiu essas informações para cada uma das observações do arquivo avocado.csv, na mesma ordem, e salvou-as no arquivo avocado_type.xlsx. Portanto, tudo o que você precisa é juntar esses dois arquivos em um mesmo DataFrame.

Com o DataFrame criado, obtenha o que é solicitado nos itens elencados abaixo:

In [ ]:
avocado = pd.

(a) A quantidade de abacates do tipo convecional e do tipo orgânico.


(b) A quantidade de registros (linhas) de abacates vendidos para cada região ordenada da maior venda para a menor.

(c) Para que todos os labels das colunas fiquem padronizados, renomeie aqueles que estão iniciando em letra minúscula para que iniciem em letra maiúscula, trocando espaço por _ e adicionando _ como separação de texto.

(d) Essa dado possui duplicados? Se sim, remova-os do dataset.

(e) Retire dos dados a região 'TotalUS'

(g) Apresente as regiões que mais venderam abacate em todo o período em ordem decrescente.

(h) Calcule o volume total de abacates vendidos para cada tipo e ano.

(f) existe alguma região que foi a maior responsável pela queda na produção de 2018?

(g) Qual cidade menos faturou com a venda de abacates?

### Problema 4

Com base no dataset 'Video_Games_Sales.csv' responda:


(a) Quantos jogos existem em cada genero?

(b) Temos duplicados nesses dados? E nulos?

(b) Quantos jogos de cada publisher receberam nota acima de 9 na avaliação dos usuarios?


(c) Faça uma tabela que mostre o total vendido por ano por pais/globalmente de cada publisher? Você consegue observar algum padrão? Com se comportaram as vendas na América do Norte (NA) ao longo do tempo? O mesmo foi visto nos demais lugares?


(d) Qual foi jogo mais vendido na união européia? De que ano ele é e qual a editora?


(e) Quantos % os generos ['Racing', 'Sports', 'Shooter'] representam na base de dados?

(f) Qual plataforma vendeu menos globalmente? obs: imprimir somente o nome

### Problema 5
A pasta 'data/datasus' contém informações sobre casos de dengue e tabelas auxiliares. <br>

| Tabela | Conteúdo |
|--------|----------|
| Dengue | Quantidade de casos por município |
| Agua | Quantidade de residências em cada município por tipo o abastecimento de água |
| InstalacoesSanitarias | Quantidade de residências em cada município por tipo de rede de esgoto |
| Pib | PIB per capita de cada município |
| Municipios | Relaciona o id_municipio com seu nome e estado |
| Populacao | Quantidade de pessoas morando em áreas urbanas, rurais e população total por município |
| Sexo | Quantidade de pessoas por sexo em cada município |

(a) Calcular o número de casos de dengue por cada estado apresentando os dados em ordem decrescente.

(b) Utilizando o dataset InstalacoesSanitarias.csv, determine o número de pessoas que não possuem meio sanitário algum de descarte de dejetos por estado.

(c) Crie uma coluna com a posição de ranking considerando o PIB. Os maiores PIB devem ter os menores valores de ranking.

(d) Qual o PIB dos 5 municípios com mais casos de dengue e sua posição no ranking?